@import './variables';

body {
  font-family: $regular-font;
  font-size: $regular-font-size;
  color: $olive;
  // background: white;

  button {
    color: $dark-blue;
    background-color: $light-blue;
    border-radius: $border-radius;
    padding: $padding / 3 $padding * 2;

    &:hover {
      box-shadow: inset 0px 100px 0px rgba(255, 255, 255, 0.2);
    }

    &:active {
      transition: none;
      box-shadow: inset 0px 100px 0px rgba(0, 0, 0, 0.1);
      transform: scale(0.99) translateY(-1px);
    }

    &:focus {
      outline: none;
    }
  }

  a {
    color: $acid-yellow;

    &:hover {
      color: $acid-yellow;
    }
  }

  input {
    display: block;
    margin: auto;
    color: $olive;
    border-radius: $border-radius;
    border: 1px solid silver;
    padding: $padding / 3;
    width: 100%;

    &:last-of-type {
      margin-top: $margin;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

  select {
    width: 100%;
    padding: $padding / 2 0;
    border-radius: $border-radius;
    border: 1px solid silver;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    letter-spacing: 5px;
  }

  h2 {
    letter-spacing: 4px;
  }

  h3 {
    letter-spacing: 3px;
  }
}
