@font-face {
  font-family: 'creteround';
  src: url('/fonts/CreteRound-Regular.ttf');
  // src: url('/fonts/beatrice-regular-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('/fonts/beatrice-regular-webfont.woff') format('woff'),
  //      url('/fonts/beatrice-regular-webfont.ttf') format('truetype'),
  //      url('/fonts/beatrice-regular-webfont.svg#beatriceregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cabin';
  src: url('/fonts/Cabin-Regular.ttf');
  // src: url('/fonts/beatrice-regular-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('/fonts/beatrice-regular-webfont.woff') format('woff'),
  //      url('/fonts/beatrice-regular-webfont.ttf') format('truetype'),
  //      url('/fonts/beatrice-regular-webfont.svg#beatriceregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
