// dimensions

$margin: 20px;
$padding: 20px;

$base-font-size: 20px;
$biggest-font-size: $base-font-size + 27px;
$bigger-font-size: $base-font-size + 18px;
$big-font-size: $base-font-size + 9px;
$regular-font-size: $base-font-size;
$small-font-size: $base-font-size - 3px;

$base-font-weight: 400;

$border-radius: 6px;

$box-shadow: 0 0 20px -2px gray;

//fonts

$heading-font: 'creteround';
$regular-font: 'cabin';

// colours

$dark-blue: #0b3c49;
$light-blue: #44a1a0;
$olive: #37371f;
$purple: #e8b4bc;
$linen: #f5e9e2;
$red: #ff0f0f;
$yellow: #bdbf09;
$light-yellow: #fff689;
$acid-yellow: #bdbf09;
$burgundy: #6a041d;
