div.therapist {
  padding: $padding * 2;

  .therapistProfile {
    display: flex;
    flex-direction: row;

    > div {
      flex: 1;
      padding: $padding;
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      margin: $margin auto;

      .therapistImage {
        object-fit: cover;
        width: 300px;
        height: 100%;
      }
    }

    .therapistDetails {
      width: 60%;
      margin: $margin auto;

      .title {
        text-align: center;
      }

      .detailsList {
        margin-top: $margin;
        text-align: center;

        > p {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .meetingBtnContainer {
    text-align: center;
  }

  @include media-tablet() {
    .therapistProfile {
      flex-direction: column;

      .imageContainer {
        .therapistImage {
          width: 250px;
        }
      }

      .therapistDetails {
        width: 100%;
      }
    }
  }

  // @include media-mobile() {
  //   padding: $padding;

  //   .therapistProfile {
  //     .imageContainer {
  //       .therapistImage {
  //         width: 200px;
  //       }
  //     }
  //   }
  // }

  @include media-mobile() {
    padding: $padding / 2;

    .therapistProfile {
      .imageContainer {
        .therapistImage {
          width: 95%;
        }
      }
    }
  }
}
