div.home {
  padding: $padding * 2;
  .title {
    text-align: center;
    margin-bottom: $margin;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $margin;
    grid-auto-rows: 30vw;
    row-gap: $margin;

    .category {
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
        background-color: lightgray;
        border: 1px solid gray;
      }

      .imageContainer {
        width: 95%;
        height: 20vw;
        margin: auto;
        margin-bottom: 0;

        .categoryImage {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .categoryName {
        text-align: center;
        margin-bottom: auto;
        margin-top: auto;
      }
    }
  }

  @include media-tablet() {
    .categories {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 40vw;

      .category {
        .imageContainer {
          height: 30vw;
        }
      }
    }
  }

  // @include media-mobile() {
  //   .categories {
  //     grid-template-columns: 70%;
  //     grid-auto-rows: 60vw;
  //     justify-content: center;

  //     .category {
  //       .imageContainer {
  //         height: 40vw;
  //       }
  //     }
  //   }
  // }

  @include media-mobile() {
    padding: $padding;

    .categories {
      grid-auto-rows: 80vw;
      grid-template-columns: 1fr;

      .category {
        .imageContainer {
          height: 50vw;

          .categoryImage {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
