div.meetings {
  padding-top: $padding;

  .title {
    text-align: center;
  }

  table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: $padding;

    th,
    td {
      text-align: center;
      padding: $padding / 4;
    }
    tbody {
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
    }

    @include media-tablet() {
      width: 100%;
    }
  }

  @include media-tablet() {
  }

  @include media-mobile() {
  }
}
